.header{
    background: linear-gradient(180deg,#fb404b,#bb0502);
    color: white;
}

.m-t-10{
    margin-top: 10px;
}

.m-b-10{
    margin-bottom: 10px;
}

.list-wrapper{
    width: 767px;
    margin: 0 auto;
}

.wrapper{
    width: 400px;
    margin: 20px auto;
}