
<template name="list">
    <div class="row m-t-10">
        <div class="columns two">
            <a href="{{pathFor 'addContact'}}"><button class="secondary icon-addition"></button></a>
        </div>
        <input type="search" id="search" class="columns eight" placeholder="Enter Contact Number here"/>
        <button class="secondary align-left" id="logout">Logout</button>
    </div>
    {{#if contactsLength}}
    <div class="row">
        <div class="list-wrapper">
            <table>
                <thead>
                <tr>
                    <th>index</th>
                    <th>Phone #</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {{#each contacts}}
                    <tr>
                        <td>{{displayIndex @index}}</td>
                        <td>{{phone}}</td>
                        <td>{{name}}</td>
                        <td>{{email}}</td>
                        <td>
                            <a href="{{pathFor 'editContact' id=_id}}"><button class="icon-edit"></button></a>
                            <button class="warning icon-trash" id="delete-contact"></button>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    {{else}}
        <section class="zero-state full-width">
            <article>
                <h1>No Contacts Found</h1>
                <p>Add a Contact to see Here</p>
                <a href="{{pathFor 'addContact'}}"><button class="default icon-addition"></button></a>
            </article>
        </section>
    {{/if}}
</template>