
<template name="list">
    <div class="row m-t-10">
        <div class="columns two">
            <a href="{{pathFor 'addContact'}}"><button id="add-contact" type="submit">Add Contact</button></a>
        </div>
        <input type="search" id="search" class="columns eight" placeholder="Enter Contact Number here"/>
        <button class="warning align-left" id="logout">Logout</button>
    </div>
    {{#if contactsLength}}
    <div class="row">
        <div class="list-wrapper">
            <table>
                <thead>
                <tr>
                    <th>index</th>
                    <th>Phone #</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Gravatar</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {{#each contacts}}
                    <tr>
                        <td>{{displayIndex @index}}</td>
                        <td>{{phone}}</td>
                        <td>{{name}}</td>
                        <td>{{email}}</td>
                        <td><img src="{{getGravatar email}}" width="35px" height="35px"></td>
                        <td>
                            <span class="tip" data-hover="view Details"><button class="warning icon-exclamation" id="view-location" index="{{@index}}"></button></span>
                            <span class="tip" data-hover="edit Contact"><a href="{{pathFor 'editContact' id=_id}}"><button class="icon-edit"></button></a></span>
                            <span class="tip" data-hover="delete Contact"><button class="warning icon-trash" id="delete-contact"></button></span>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
            {{#if geolocationFound}}
                <div class="m-t-10 m-b-10">
                    <table border="1">
                        <tr>
                            <th>Code</th>
                            <th>Country Name</th>
                            <th>Prefix</th>
                            <th>Int. Format</th>
                            <th>Line Type</th>
                            <th>Location</th>
                            <th>Number</th>
                        </tr>
                        <tr>
                            <td>{{details.country_code}}</td>
                            <td>{{details.country_name}}</td>
                            <td>{{details.country_prefix}}</td>
                            <td>{{details.international_format}}</td>
                            <td>{{details.line_type}}</td>
                            <td>{{details.location}}</td>
                            <td>{{details.number}}</td>
                        </tr>
                    </table>
                </div>
            {{/if}}
        </div>
    </div>
    {{else}}
        <section class="zero-state full-width">
            <article>
                <h1>No Contacts Found</h1>
                <p>Add a Contact to see Here</p>
                <a href="{{pathFor 'addContact'}}"><button class="default icon-addition"></button></a>
            </article>
        </section>
    {{/if}}
</template>