<template name="login">
    <div class="wrapper">
        <form action="">
            <div class="row">
                <label class="align-left">Email</label>
                <input type="email" placeholder="Enter Email" id="email" required/>
            </div>
            <div class="row" >
                <label class="align-left">Password</label>
                <input type="password" placeholder="Password" id="password" required/>
            </div>
            <div class="row">
                <button class="secondary" id="register">Login</button>
            </div>
            <div class="row">
                <a href="{{pathFor 'register'}}"><button class="link" >Register</button></a>
            </div>
        </form>
    </div>
</template>
