
<template name="editContact">
    <div class="wrapper">
        <form action="">
            <div class="row">
                <label class="align-left">Phone No</label>
                <input type="text" placeholder="Enter Phone No" id="contact-phone" value="{{contact.phone}}" required/>
            </div>
            <div class="row">
                <label class="align-left">Contact Name</label>
                <input type="text" placeholder="Enter Contact Name" id="contact-name" value="{{contact.name}}" required/>
            </div>
            <div class="row">
                <label class="align-left">Email</label>
                <input type="email" placeholder="Enter Contact Email" id="contact-email" value="{{contact.email}}" required/>
            </div>
            <div class="row">
                <button id="add-contact" type="submit">Update Contact</button>
            </div>
        </form>
    </div>
</template>