<template name="register">
    <div class="wrapper">
        <form action="">
            <div class="row">
                <label class="align-left">Name</label>
                <input type="text" placeholder="Enter Name" id="name" required/>
            </div>
            <div class="row">
                <label class="align-left">Email</label>
                <input type="email" placeholder="Enter Email" id="email" required/>
            </div>
            <div class="row" >
                <label class="align-left">Password</label>
                <input type="password" placeholder="Password" id="password" required/>
            </div>
            <div class="row">
                <button class="secondary" id="register">Register</button>
            </div>
        </form>
    </div>
</template>